fastapi
uvicorn
python-dotenv
pydantic

langchain
langchain-community
langchain-google-genai
langchain-chroma
langchain-text-splitters

chromadb
pypdf
python-multipart
requests
streamlit

regex

sqlalchemy
psycopg2-binary