fastapi
uvicorn
python-dotenv
pydantic

langchain
langchain-community
langchain-google-genai
langchain-chroma
langchain-text-splitters

google-genai

chromadb
pypdf
python-multipart
requests
streamlit

scikit-learn
pandas
numpy
scipy

sqlalchemy
psycopg2-binary

joblib
regex

plotly
matplotlib